# Set the following environment variables and rename/copy the file to .env
RPC_URL=<RPC_URL>
RPC_WS_URL=<RPC_WS_URL>

ETHPROOFS_API_URL="https://staging--ethproofs.netlify.app/api/v0"
ETHPROOFS_API_TOKEN=<ETHPROOFS_API_TOKEN>
ETHPROOFS_CLUSTER_ID=1

ELF_FILE = "zisk-eth-client-keccak.elf"

BLOCK_MODULUS=100

DISTRIBUTED_PROVE_PROCESSES=4
DISTRIBUTED_PROVE_THREADS=56

TELEGRAM_BOT_TOKEN=<TELEGRAM_BOT_TOKEN>
TELEGRAM_CHAT_ID=<TELEGRAM_CHAT_ID>
