# Set the following environment variables and rename/copy the file to .env

# Modulus to apply to select blocks for input file generation. Used when flag --input_gen is set to Local
BLOCK_MODULUS=1

# Webhook server listen port
WEBHOOK_PORT=8051

# Prometheus metrics listen port
METRICS_PORT=8384

# Ethproofs API configuration
ETHPROOFS_API_URL=https://staging--ethproofs.netlify.app/api/v0
ETHPROOFS_API_TOKEN=<ETHPROOFS_API_TOKEN>
ETHPROOFS_CLUSTER_ID=1

# Coordinator URL
COORDINATOR_URL=http://localhost:50051

# Compute capacity of the proof when using distributed mode
COMPUTE_CAPACITY=10

# Folder where the block inputs files are stored. Specify absolute path
INPUTS_FOLDER=<ABSOLUTE_PATH_TO_INPUTS_FOLDER>

# Telegram bot configuration for notifications
TELEGRAM_BOT_TOKEN=<TELEGRAM_BOT_TOKEN>
TELEGRAM_CHAT_ID=<TELEGRAM_CHAT_ID>
TELEGRAM_PREFIX_MSG="Test"

# Database URL (MySQL)
DB_DSN=<DB_URL>